body {
    height: 100vh;
    background: linear-gradient(45deg, #E2C59B, #81CACD);
}

.titulo {
    align-content: center;
    color: #666;
    justify-content: center;
    display: flex;
}

.btn {
    align-content: center;
    justify-content: center;
    display: flex;
    width: 50%;
}

#image {
    margin: 10px;
    align-content: center;
}

.input-group-prepend {
    width: 60px;
}