body {
    height: 100vh;
    background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
}

.titulo {
    align-content: center;
    color: #666;
    justify-content: center;
    display: flex;
}

.btn {
    align-content: center;
    justify-content: center;
    width: 50%;
    display: flex;
}

.input-group-prepend {
    width: 60px;
}