body{
  height:100vh; background: linear-gradient(45deg, #E2C59B, #81CACD);
  background-size: cover;
  background-repeat: no-repeat;">
}
.row .card .col-12{
  background-color:transparent;
}
.card{
  background: #ffffffc7;
  background-color:transparent;
}
.card-header{
  font-family: 'Roboto';
  color: #000000c2;
}
.col-md-8 select{
  width: 100%;
  border-radius: 3px;
  height: 37px;
}
